[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SurveyNCD"]
	path = SurveyNCD
	url = https://github.com/stataid-research-lab/surveyncd
